<div class="bodyc">
<div style="margin-left:70px;">
<h1 class="text-warning">Show User</h1>

<br>
<p>
  <h4  >Name:
  <%= @user.name %></h4>
</p>

<p>
  <h4 >Email:
  <%= @user.email %></h4>
</p>


<h2 class="text-warning">Your Friends</h2>
<div style="width:50%;">
<table class="table">
  <thead>
    <tr>

      <th><h4>Name</h4></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% for friendship in @user.friendships %>
<tr>
    <td><h3 class="text-info"><%= friendship.friend.name %></h3><td>
    <td><%= link_to "remove", friendship,:class => 'btn btn-danger', :method => :delete %></td>
    <tr>

  <% end %>
</tbody>
</table>
</div>




<h2 class="text-warning">Users added you </h2>
<ul>
  <% for befrinded in @user.inverse_friends %>
  <li><%= h befrinded.name %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_user_path(@user),:class=>"btn" %>
<%= link_to 'Back', users_path,:class=>"btn" %>
</div>
