<h1>Show User</h1>

<br>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.name %>
    -----><%= link_to "remove", friendship, :method => :delete %>
  </li>
  <% end %>
</ul>


<!-- <h2>Users Who Have Befriended You</h2>
<ul>
  <% for befrinded in @user.inverse_friends %>
  <li><%= h befrinded.name %></li>
  <% end %>
</ul> -->



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
