<div class="bodyc">
<%= form_for @order, html: { multipart: true }  do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <table>
    <tbody>
      <tr>
        <th><%= f.label :orderT ,'Order for'%></th>
        <td><%= f.select(:orderT) do %>
      <% [['breakfast', 'breakfast'], ['lunch', 'lunch']].each do |c| %>
        <%= content_tag(:option, c.first, value: c.last) %>

      <% end %>
    <% end %></td>
      </tr>
      <tr>
        <td colspan="2">Write the restrant name</td>
      </tr>
      <tr>
        <td>  <%= f.label :resName ,'From'%></td>
        <td><%= f.text_field :resName %></td>
      </tr>
      <tr>
        <td colspan="2">you can write friend name or group</td>
      </tr>

      <tr>
        <th><%= f.label :image ,'Menu Image'%></th>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr><td>
      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div></td></tr>
      <tr><td>

        <%= label_tag 'Choose Friends to invite: ' %>
        <div>
    <table style="overflow: scroll; height: 100px" class="form-control">
        <% @users.each do |user, i| %>


      <td>
        <% friend_status = current_user.friendships.exists?(:friend_id =>user.id, :user_id => current_user.id)  ? true : false %>
        <% if(friend_status) %>
          <%= check_box_tag('invited_friends[]', user.id) %>
          <%= label_tag(:invited_friends, user.name) %>
          <% end %>
      <td>


      <% end %>
    </table>

  </div>

         <!-- <%= f.collection_select :user_id, Friendship.order(:friend_id), :id, :friend_id, include_blank: true %> -->
       </td>
      </tr>

      <tr>
        <td colspan="2">
            <%= f.submit  %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
