<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>


  <table>
    <tbody>
      <tr>
        <th><%= f.label :orderT ,'Order for'%></th>
        <td><%= f.select(:orderT) do %>
      <% [['breakfast', 'breakfast'], ['lunch', 'lunch']].each do |c| %>
        <%= content_tag(:option, c.first, value: c.last) %>

      <% end %>
    <% end %></td>
      </tr>
      <tr>
        <td colspan="2">Write the restrant name</td>
      </tr>
      <tr>
        <td>  <%= f.label :resName ,'From'%></td>
        <td><%= f.text_field :resName %></td>
      </tr>
      <tr>
        <td colspan="2">you can write friend name or group</td>
      </tr>
      <tr>
        <td>
          <div class="field">
              <%=f.input :invited_users do%>
                  <% current_user.friendships.each do |f| %>
                      <%= check_box_tag 'invited_users[]', f.id %>
                      <%= h f.name%>
                  <%end%>
              <%end%>
          </div>
          <div class="field">
              <%=f.input :invited_groups do%>
                  <% current_user.groups.each do |g| %>
                      <%= check_box_tag 'invited_groups[]', g.id %>
                      <%= h g.name%>
                  <%end%>
              <%end%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
            <%= f.submit ,'Publish' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
