<p id="notice"><%= notice %></p>

<p>
  <strong>Ordert:</strong>
  <%= @order.orderT %>
</p>

<p>
  <strong>Resname:</strong>
  <%= @order.resName %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @order.menu %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
