<div class="bodyc">
<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <tr>
    <th >Name</th>
    <th >order</th>
    <th >restrant</th>
    <th >Menu</th>
  </tr>
  <tr>
    <td ><%= @order.user.name%></td>
    <td><%= @order.orderT%></td>
    <td><%= @order.resName%></td>
    <td ><%= image_tag @order.image.url(:thumb) %></td>
  </tr>
</table>




<h2>Add a detail:</h2>
<%= form_for(@order.order_details.build do |f|%>
<%= f.hidden_field :user_id, value:@user.id %>
<%= f.hidden_field  :order_id %>
<table class="table table-striped table-bordered">
  <tr>
    <th> <%= f.label :item %></th>
    <th> <%= f.label :amount %></th>
    <th> <%= f.label :price %></th>
    <th> <%= f.label :comment %></th>
  </tr>
  <tr>
    <td><%= f.text_field :item %></td>
    <td><%= f.number_field :amount %></td>
    <td><%= f.text_field :price %></td>
    <td><%= f.text_area :comment %></td>
    <td>  <%= f.submit %></td>
  </tr>
</table>

<% end) %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
